/**
* All these styles is used to built layout and loading animation for demo page
* It's not apart of angular module.
*/
.img-width-height-cover {
  max-width: 100%;
}
.grid-cell img.img-width-cover{
  max-width: 100%;
}
.grid-cell img.img-height-cover{
  max-height: 100%;
}
.wgh.hishc{
  max-height: 100%;
}
.weh.highc {
  max-width: 100%;
}
.wsh.hishc {
  max-width: 100%;
}
.weh.hishc {
  max-height: 100%;
}
.wsh.highc {
  max-height: 100%;
}
.wsh.highc.wiswc {
  max-width: 100%;
  max-height: none;
}
.wsh.highc.wigwc {
  max-height: 100%;
  max-width: none;
  position: relative;
}
.wgh.highc {
  max-width: 100%;
}
.grid-cell img{

}

.grid-cell img.adjust-left{
  
}

.center {
  text-align: center;
}
.small {
  font-size:12px;
  font-weight: normal;
  margin-left: 10px;
}
.wrapper {
  margin:0 auto;
  width: 250px;   /*  you can set width values to any grid's ancestor,
                      it was used to define photo grid's wrap width when init,
                      otherwise default value would be taken in directive*/
}
.feed-item{
  overflow: hidden;
  border:1px solid #adadad;
}
.feed-photos {
  position: relative;
  min-height: 100px;
}
.feed-photos.loading::after {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.6) url("loader.gif") center center no-repeat;
  left:0;
  top:0;
  position: absolute;

}
